*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    font-size: 15px;
    margin: 5px;
}

.wrapper{
    /* width: calc(1500px + 3*20px); */
    background-color: #fff;
    margin: 0px;

}
.header_main {
    display: block;
    margin: 15px 5px 0px 5px;
    text-align: center;
    background-color: #ccc;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
}

aside {
    width: 15%;
    height: 600px;
    float: right; 
    background-color: #ccc;   
    padding: 5px;
    text-align: center;
    margin: 5px 5px 0px 0px;
    border: 2px solid black;
    border-radius: 3px;
    overflow: auto;
}

section {
    width: 84%;
    height: 600px;
    display: inline-block;
    text-align: center;
    background-color: #ccc;  
    padding: 5px;
    margin: 5px 0px 0px 5px;
    border: 2px solid black; 
    border-radius: 3px;
    overflow: auto;
}

footer{
    clear: both;    
    background-color: #ccc;
    text-align: center;
    font-size: 15px;
    margin: 0px 5px 5px 5px;
    border: 2px solid black; 
    border-radius: 3px;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    text-shadow: 1px 1px 2px #1f1e1f;
}
.header_section {
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.header_section li{
    display: inline-block; 
    margin: 5px;
    background-color: #ccc;
    
    border: 2px solid black;
    border-radius: 5px;
}

.header_section li a{
    display: inline-block; 
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    padding: 5px;
}

a:hover{
    color: red;
    background-color: white;
    
}

h2 {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    text-shadow: 1px 1px 2px #1f1e1f;
}

img {
    width: 100%;
    height: auto;
    border: 2px solid grey;
    border-radius: 5px;
}

p {
    text-align: justify;
}

p:first-letter {
    text-transform: uppercase;
}
